<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>auto-clean-mendeley-library</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{LIBRARYDIR}}clean-library-auto.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>{{LIBRARYDIR}}library.bib</string>
    </array>
</dict>
</plist>
